body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    border-radius: 18px;
    padding: 1rem;
}

.card img{
    border-radius: 10px;
    display: block;
    max-width: 100%;
}

.text {
    padding: 10px 15px;
} 

.text h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.text p {
    color: hsl(220, 15%, 55%);
    font-size: 0.9375rem;
    padding: 0 15px;
}

.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }
